.git
node_modules
frontend/node_modules
frontend/dist
vendor
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
.env
.env.backup
.env.production
