name: Build & Deploy Asset Management App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Login Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build & push Laravel image
      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            toladev1/asset-management:latest

      # Copy docker-compose.yml & nginx config to EC2
      - name: Copy Docker files to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: |
            docker-compose.yml
            docker/nginx/default.conf
          target: /var/www/asset-management

      # Deploy on EC2
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            APP_DIR=/var/www/asset-management

            mkdir -p $APP_DIR
            cd $APP_DIR

            docker pull toladev1/asset-management:latest

            docker compose down
            docker compose up -d

            docker exec asset_management_app php artisan migrate --force
            docker exec asset_management_app php artisan config:clear
            docker exec asset_management_app php artisan config:cache
            docker exec asset_management_app php artisan route:cache
            docker exec asset_management_app php artisan view:cache
