name: Build & Deploy Asset Management App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/asset-management:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/asset-management:${{ github.sha }}

      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            APP_DIR=/var/www/asset-management

            # Create folder if not exists
            mkdir -p $APP_DIR
            cd $APP_DIR

            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/asset-management:latest

            docker compose down
            docker compose up -d

            docker exec laravel_app php artisan migrate --force
            docker exec laravel_app php artisan config:clear
            docker exec laravel_app php artisan config:cache
            docker exec laravel_app php artisan route:cache
            docker exec laravel_app php artisan view:cache
